@charset "utf-8";
/* CSS Document */
.bara{
	font-weight:bold;
	font-family:"Microsoft YaHei";
	color:black;
}

.bara:hover{
	color:rgba(7,236,4,1.00);
}

.barli{
	padding:0 20px;
}

.firstBar{
	margin-left:100px
}

.enbutton,.chbutton{
	border:hidden 0;
	background:transparent	
	
}
.enbutton:hover,.chbutton:hover{
	background:transparent;
	color:red	
}

.enbutton.visited,.chbutton.visited{
	color:red;	
}

.lanlable{
	margin-top:6px;
	font-weight:bold;
}

.pinfdiv{
	margin-top:140px;
}

.pinftitle,.skilltitle,.porttitle{
	background:url(../resource/image/titleTag.jpg) no-repeat;
	background-size:100% 60px;
	height:60px;
}

.pinftitle>h4,.skilltitle>h4,.porttitle>h4{
	position:absolute;
	margin-top:12px;
	text-align:center;
	width:250px;
	font-family:"Microsoft YaHei";
	word-spacing:5px;
	color:rgba(228,228,228,1.00);
	font-weight:bold;
	font-size:20px
}
.skilldiv,.portdiv{
	margin-top:20px;
}

