@charset "utf-8";
/* CSS Document */
@font-face{
   font-family: Nunito-Regular;
    src: url(../fonts/Nunito-Regular.ttf) format('truetype');
}
.bara{
	font-weight:bold;
	font-family:"Microsoft YaHei";
	color:black;
}

.bara:hover{
	color:rgba(7,236,4,1.00);
}

.barli{
	padding:0 20px;
}

.firstBar{
	margin-left:100px
}

.enbutton,.chbutton{
	border:hidden 0;
	background:transparent	
	
}
.enbutton:hover,.chbutton:hover{
	background:transparent;
	color:red	
}

.enbutton.visited,.chbutton.visited{
	color:red;	
}

.lanlable{
	margin-top:6px;
	font-weight:bold;
}

.pinfdiv{
	margin-top:140px;
}

.pinftitle,.skilltitle,.porttitle{
	background:url(../resource/image/titleTag.jpg) no-repeat;
	background-size:100% 60px;
	height:60px;
}

.pinftitle>h4,.skilltitle>h4,.porttitle>h4{
	position:absolute;
	text-align:center;
	width:250px;
	font-family:"Microsoft YaHei";
	word-spacing:5px;
	color:rgba(228,228,228,1.00);
	font-weight:bold;
	font-size:1.25em;
}
.skilldiv,.portdiv{
	margin-top:20px;
}

#about{
	font-size:14px;
	width:60%
}

#about h1{
	display: inline-block;
}

#about hgroup, p{
	padding:0;
	margin:0;
}
#introduction ul{
	list-style:none;
}
#introduction ul li {
	background:#efefef;
    border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-webkit-border-radius:4px;
    color: #666666;
    font-size: 11px;
  	margin-bottom: 10px;
	margin-top: 9px;
	padding: 6px 44px 5px 10px;
	border-left:3px solid #cccccc;
}

#introduction ul li span{
	font-weight:bold;
}

.info{
	float:left;
	margin-right:38px;
}

#about h1{
	font-family: "Signika";
	font-weight:bold;
	font-size:24px;
	color:#CD5353;
	margin:0 0 10px 0;
	padding:0;

}

#about h4{
	font-size:16px;
	color:#666;
	font-weight:bold;
	float:left;
	margin-left:20px;
	width:85%;
}

#about h6{
	font-size:14px;
	color:#333;
	font-weight:bold;
	font-style:italic;
	float:left;
}

.cvLink{
	float:right
}

.skillitemdiv{
	width:20%;
	margin-right:5%;
	float:left;
}

.skillitemdiv h4{
	
  font-weight:700;
  font-family: Nunito-Regular;
  letter-spacing: 1px;
  font-size:14px
}

.progress-bar-danger {
  box-shadow: none;
}

.portitemdiv{
	width:60%;
	margin:20px auto;
}

.portitemdiv img{
	width:100%;
}

.modal h5,.portitemdiv h5{
	text-align:center;
	font-family: Nunito-Regular;
	font-weight:bold;
	font-size:20px;
	color:#EF7205
}

.modal-body{
	background:#FFFFFF
}

.modal img{
	height:900px;
	
}

.modal-lg{
	width:1200px;
}


